<div class="login">
	<h1 style="color:Blue;">Word Input</h1>


    <form action="{{ url_for('submit')}}"method="post">
    <!--	<input type="text" name="Pitch0,Roll0,Pitch1,Roll1,Pitch2,Roll2,Pitch3,Roll3,Pitch4,Roll4" placeholder="Values" required="required" /><br>-->
        <input type="text" name="Classification" placeholder="Classification" required="required" /><br>
        <input type="text" name="Pitch0" placeholder="Pitch 0" required="required" /><br>
    	<input type="text" name="Roll0" placeholder="Roll 0" required="required" /><br>
    	<input type="text" name="Pitch1" placeholder="Pitch 1" required="required" /><br>
    	<input type="text" name="Roll1" placeholder="Roll 1" required="required" /><br>
    	<input type="text" name="Pitch2" placeholder="Pitch 2" required="required" /><br>
    	<input type="text" name="Roll2" placeholder="Roll 2" required="required" /><br>
    	<input type="text" name="Pitch3" placeholder="Pitch 3" required="required" /><br>
    	<input type="text" name="Roll3" placeholder="Roll 3" required="required" /><br>
    	<input type="text" name="Pitch4" placeholder="Pitch 4" required="required" /><br>
    	<input type="text" name="Roll4" placeholder="Roll 4" required="required" /><br> 

        <button type="submit">Submit</button>
    </form>

    </div>


</body>
</html>